<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArgn1davdJZKii7g4t-_LfVc5UcAeuims</string>
	<key>GCM_SENDER_ID</key>
	<string>920532522992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>feva.voicecall.hiring</string>
	<key>PROJECT_ID</key>
	<string>fevevoice</string>
	<key>STORAGE_BUCKET</key>
	<string>fevevoice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920532522992:ios:f1b2008190af393e61ef35</string>
	<key>DATABASE_URL</key>
	<string>https://fevevoice-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>